$primary-color: #272727;
// $primary-color: #f2f2f2;
$secondary-color: #ff652f;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

@mixin transition-ease {
    transition: all ease-in-out 0.5s;
}

@function set-text-color($color){
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}

/* media queries */
@mixin media-xs {
    @media screen and (max-width: 767px){
        @content;
    }
}
@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}